<footer class="text-light p-3">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <p>&copy; 2024 LSGO. <a href="" style="color: white; font-size: 20px;"><i class="bi bi-instagram"></i></a></p>

      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <!-- <a href="" style="color: white; font-size: 20px;"><i class="bi bi-instagram"></i></a> -->
        <p>Desenvolvido por LSGO</p>
      </div>
    </div>
  </div>
</footer>
